/*----------------------------------------------*/
/*GENERAL*/

* {
    box-sizing: border-box;
    margin: auto;
    color: white;
}

*::selection {
    background-color: #720f0f;
}

body {
    font-family: "Montserrat", serif;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(17, 17, 17);
    height: 7vh;
}

.header {
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.header-title {
    text-align: center;
    width: 50%;
}

.header-title a {
    font-size: 32px;
}

.header-menu {
    text-align: center;
    width: 50%;
}

.header-menu a {
    font-size: 18px;
    transition: 0.5s;
}

.header-menu a:hover {
    color: #a61717;
}

/*---*/

main {
    background-color: black;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/*---*/

footer {
    background-color: black;
}

footer div {
    background-color: rgb(17, 17, 17);
    height: 5vh;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

/*----------------------------------------------*/
/*LOGIN*/

.main-form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 200px;
}

.form-block {
    margin: 0;
    width: 350px;
}

.form-block-title {
    text-align: center;
    font-size: 32px;
}

.form-block form {
    margin-top: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-type {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #a61717;
    box-shadow: none;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.input-type-item {
    background: none;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: left;
}

.input-type-item:focus {
    box-shadow: 0 0 20px #ea2121;
    outline: none;
}

.input-type:focus {
    box-shadow: none;
}

.input-submit {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #a61717;
    transition: 0.5s;
}

.input-submit:hover {
    background-color: #720f0f;
}

.offer-a {
    margin-top: 20px;
    color: #ea2121;
    transition: 0.5s;
}

.offer-a:hover {
    color: #a61717;
}

/*----------------------------------------------*/
/*HELLO*/

.hello-flex {
    display: flex;
    flex-direction: column;
}

.hello-flex p span {
    color: #a61717;
}

.hello-flex p {
    font-size: 32px;
}

/*----------------------------------------------*/
/*CHAT*/

.chat-flex {
    width: 800px;
    height: 500px;
    margin-top: 100px;
    border: 3px solid #ea2121;
    box-shadow: 0 0 30px #a61717;
    border-radius: 15px;
}

.chat-flex-window {
    display: flex;
    flex-direction: column;
}

.chat-flex-dialog {
    margin: 0;
    min-height: 440px;
    height: 88%;
}

.bot-message {
    background-color: rgb(40, 40, 40);
    min-height: 40px;
    height: auto;
    max-width: 400px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    padding: 10px;
}

.bot-message p {
    word-wrap: break-word;
    hyphens: auto;
    font-size: 16px;
    margin: 0;
    color: white;
    line-height: 1.5;
}

.message {
    background-color: rgb(40, 40, 40);
    min-height: 40px;
    height: auto;
    max-width: 400px;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
}

.message p {
    word-wrap: break-word;
    hyphens: auto;
    font-size: 16px;
    margin: 0;
    color: white;
    line-height: 1.5;
}

.chat-flex-input {
    min-height: 60px;
    height: 12%;
}

.chat-flex-input form{
    height: 55px;
}

.chat-flex-input-label {
    display: flex;
    min-width: 460px;
    min-height: 50px;
    border: 2px solid white;
    border-radius: 15px;
}

.input-message {
    height: 40px;
    width: 400px;
    outline: none;
    border: none;
    background: none;
}

.input-submit-message {
    height: 35px;
    width: 35px;
    background: #ea2121;
    box-shadow: 0 0 15px #ea2121;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s;
}

.input-submit-message:hover {
    background-color: #720f0f;
    cursor: pointer;
}